.admin__bHead{
	position: fixed;
	right: 0;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 40px;

	background-color: black;
}

.admin__mod{
	display: flex;
	column-gap: 5px;
	color: black;
}

.admin__bHead .admin__mod{
	color: white;
}

#portfolio h2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 30px;
}
.portfolio__edition{
	color: black;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	gap: 5px;
}